data/photon
data/graphhopper/cache
data/graphhopper/osm
.venv
node_modules
.env
.env.*
!.env.template
db

*.jsonl.zst
backend/db.sqlite3
# large artifacts that must never be committed
data/otp/*.obj
*.sqlite3

osm_workspace/